{% if ansible_distribution == 'Debian' and ansible_distribution_major_version|int >= 9 %}
Types: deb
URIs: {{ apt_main_url_protocol }}://{{ apt_main_url }}/debian
Suites: {{ ansible_distribution_release }}-backports
Components: main
{% elif ansible_distribution == 'Ubuntu' %}
Types: deb
URIs: {{ apt_main_url_protocol }}://{{ apt_main_url }}/ubuntu
Suites: {{ ansible_distribution_release }}-backports
Components: main restricted universe multiverse
{% endif %}
