{% if ansible_distribution == 'Debian' and ansible_distribution_major_version|int >= 12 %}
Types: deb
URIs: {{ apt_main_url_protocol }}://{{ apt_main_url }}/debian
Suites: {{ ansible_distribution_release }}
Components: main contrib non-free non-free-firmware

Types: deb
URIs: {{ apt_main_url_protocol }}://{{ apt_main_url }}/debian
Suites: {{ ansible_distribution_release }}-updates
Components: main contrib non-free non-free-firmware
{% elif ansible_distribution == 'Debian' and ansible_distribution_major_version|int >= 9 %}
Types: deb
URIs: {{ apt_main_url_protocol }}://{{ apt_main_url }}/debian
Suites: {{ ansible_distribution_release }}
Components: main contrib non-free

Types: deb
URIs: {{ apt_main_url_protocol }}://{{ apt_main_url }}/debian
Suites: {{ ansible_distribution_release }}-updates
Components: main contrib non-free
{% elif ansible_distribution == 'Ubuntu' %}
Types: deb
URIs: {{ apt_main_url_protocol }}://{{ apt_main_url }}/ubuntu
Suites: {{ ansible_distribution_release }}
Components: main restricted universe multiverse

Types: deb
URIs: {{ apt_main_url_protocol }}://{{ apt_main_url }}/ubuntu
Suites: {{ ansible_distribution_release }}-updates
Components: main restricted universe multiverse

Types: deb
URIs: {{ apt_main_url_protocol }}://{{ apt_main_url }}/ubuntu
Suites: {{ ansible_distribution_release }}-proposed
Components: main restricted universe multiverse
{% endif %}
