{% if ansible_distribution == 'Debian' %}
deb https://deb.debian.org/debian-security {{ ansible_distribution_release }}/updates main contrib non-free
{% elif ansible_distribution == 'Ubuntu' %}
deb mirror://mirrors.ubuntu.com/mirrors.txt {{ ansible_distribution_release }}-security main restricted universe multiverse
{% endif %}
