{% if ansible_distribution == 'Debian' and ansible_distribution_major_version|int >= 12 %}
Types: deb
URIs: {{ apt_main_url_protocol }}://{{ apt_main_url }}/debian-security
Suites: {{ ansible_distribution_release }}-security
Components: main contrib non-free non-free-firmware
{% elif ansible_distribution == 'Debian' and ansible_distribution_major_version|int >= 11 %}
Types: deb
URIs: {{ apt_main_url_protocol }}://{{ apt_main_url }}/debian-security
Suites: {{ ansible_distribution_release }}-security
Components: main contrib non-free
{% elif ansible_distribution == 'Debian' and ansible_distribution_major_version|int >= 9 %}
Types: deb
URIs: {{ apt_main_url_protocol }}://{{ apt_main_url }}/debian-security
Suites: {{ ansible_distribution_release }}/updates
Components: main contrib non-free
{% elif ansible_distribution == 'Ubuntu' %}
Types: deb
URIs: {{ apt_main_url_protocol }}://security.ubuntu.com/ubuntu
Suites: {{ ansible_distribution_release }}-security
Components: main restricted universe multiverse
{% endif %}
